img.des{
    margin-right:8px;
}

#rojo{
    
    margin-right:8px;
}
#azul{
    list-style-image: url("C:/Users/Usuario_2/Desktop/Ejercicio 2/assets/imagenes/descarga.png");
    margin-right:8px;
}
#verde{
    list-style-image: url("C:/Users/Usuario_2/Desktop/Ejercicio 2/assets/imagenes/descarga.png");
    margin-right:8px;
}